*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background-color: black; */
    font-family: 'Open Sans', sans-serif;
}

header{
    background-color: white;
}

.container-topbar{
    background-color: white;
    border-bottom: 4px solid #d4dde4;
    height: 90px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 600;
}

a{
    font-size: 15px;
    text-decoration: none;
    color: grey;
    cursor: pointer;
}

.right.stuff{
    margin-left: 20px;
}


.right.stuff img{
    margin-right: 20px;
}


.right.stuff a+a{
    margin-left: 20px;
}

.left-stuff{
    margin-right: 15px;
}


.left-stuff a+a{
    margin-right: 20px;
}

#supporto{
    margin-right: 20px;
}

#inizia{
    color: white;
    background-color: #0061ff;
    padding: 5px 10px;
}



.jumbotron{
    height: 600px;
    width: 100%;
    background-color: #b4d0e7;
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jumbotron-container{
    height: 600px;
    margin: 0px 200px 20px 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jb-img{
    height: 200px;
    width: 865px;
    display: flex;
    flex-direction: row;

}

.jb-text h1{
    font-size: 60px;
    margin-bottom: 40px;
}

.jb-col1{
    height: 300px;
    width: 40%;
    /* background-color: red; */
}

.jb-col1 p{
    font-size: 15px;
    margin-bottom: 20px;
}

.jb-col1 div{
    margin-top: 20px;
    margin-bottom: 20px;
}

#arrow{
    font-size: 50px;
    margin-top: 30px;
    color: black;
}

.jb-col2{
    height: 400px;
    width: 80%;
    /* background-color: bisque; */

}

.jb-col2 img{
    min-height: 320px;
    max-width: 120%;
    /* object-fit: cover; */
    
}


/* Inizio css main */

main{
    background-color: white;
}

.main-container{
    /* max-width: 100%;
    margin: 150px 190px 50px 250px; */
}


/* Prima sezione */

.payments{
    /* height: 1000px; */
    /* background-color: antiquewhite; */
    margin: 0 auto;
    margin-top: 200px;
    max-width: 700px;
}

.payments h2{
    font-size: 35px;
    margin-bottom: 60px;
}

.payments span{
    margin-bottom: 30px;
}


label{
    padding-left: 10px;
    cursor: pointer;
    font-size: 15px;
}

input{
    top: 0;
    margin-right: 10px;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border-radius: 50%;
    cursor: pointer;   
}

.subscription-plans{
    height: 950px;
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    /* background-color: aquamarine; */
}

.plan-col1{
    height: 950px;
    width: 30%;
    /* display: flex;
    justify-content: center;
    align-items: flex-start; */
    border: 1px solid #d4dde4;
    margin-right: 15px;
}


.intestazione{
    height: 24px;
    width: 100%;
    /* background-color: yellow; */
    border-bottom: 1px solid #d4dde4;
}

#icon-plan{
    margin-left: 60px;
    margin-right: 10px;
}

.contenuto-col{
    margin-left: 15px;
    margin-top: 30px;

}

.pacchetto{
    margin-top: 40px;
    height: 200px;
}

.pacchetto span{
    margin-left: 10px;
    font-size: 12px;
}


#box-button{
    color: white;
    background-color: #0061ff;
    padding: 5px 10px;
    font-size: 12px;
}

#box-button-c{
    color: white;
    background-color: #0061ff;
    padding: 5px 50px;
    font-size: 12px;
}

.oppure{
    margin-top: 20px;
}

.oppure a{
    font-size: 12px;
    color: cornflowerblue;
}

.oppure span{
    font-size: 12px;
}

.oppure hr{
    margin-top: 40px;
    width: 50px;
    color: lightgrey;
}


.prova{
    font-size: 10px;
    width: 100%;
    text-align: center;
}

.punti-salienti{
    height: 300px;
    margin-top: 100px;
}

.punti-salienti span{
    font-size: 12px;
}

.punti-salienti i{
    color: #1865ff;
}


.plan-col2{
    height: 950px;
    width: 30%;
    border: 1px solid #d4dde4;
    margin-right: 15px;
}


.plan-col3{
    height: 950px;
    width: 30%;
    border: 1px solid #d4dde4;
}

h3{
    margin-bottom: 20px;
}

/* Seconda sezione */

.enterprise-container{
    height: 200px;
    margin-top: 250px;
    /* background-color: bisque; */
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    margin: 0 auto;
    max-width: 700px;
    margin-top: 100px;
    margin-bottom: 0;
    border: 1px solid #d4dde4;
}

.intestazione2{
    text-align: center;
    border-bottom: 1px solid #d4dde4;
}

.content{
    height: 800px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
}

.cont-text{
    width: 60%;
}

#first-p{
    font-weight: bold;
}


.cont-text p{
   font-size: 10px;
   margin-bottom: 20px;
}

.ufficio-vendite{
    margin-top: 4px;
}


/* Terza sezione */

.partner-container{
    margin: 0 auto;
    margin-top: 100px;
    max-width: 700px;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    /* background-color: cornflowerblue; */
}

.t-col1{
    width: 60%;
    /* background-color: lime; */
}

.t-col1 img{
    max-width: 100%;
}

.t-col2{
    width: 40%;
    /* background-color: limegreen; */
}

.tcol2-text{
    margin-top: 50px;
    margin-left: 30px;
}

.tcol2-text p{
    margin-top: 20px;
    margin-bottom: 30px;
}

.tcol2-text a{
    color: black;
    background-color: white;
    border: 1px solid  #d4dde4;
    padding: 10px 15px;
}


/* Quarta sezione */
.tool-container{
    /* height: 800px; */
    margin: 0 auto;
    margin-top: 100px;
    max-width: 700px;
    /* background-color: dimgray; */
}


.tool-container h2{
    font-size: 30px;
}


.cards-line1{
    height: 350px;
    margin-top: 50px;
    margin-bottom: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color:red ; */
    /* border: 1px solid black; */
}

.card{
    height: 360px;
    width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.card img{
    max-width: 90%;
    margin-bottom: 10px;
}

.card h4{
    margin-top: 5px;
    margin-bottom: 10px;
}

.card p{
    width: 80%;
    font-size: 10px;
}

.cards-line2{
    height: 350px;
    margin-top: 50px;
    margin-bottom: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color:red ;
    border: 1px solid black; */
}


/* Quinta sezione */

.users-container{
    /* height: 200px; */
    max-width: 700px;
    margin: 0 auto;
    margin-top: 150px;
    /* background-color: violet; */
}

.users-container h2{
    margin-bottom: 40px;
}

.users-container a{
    color:cornflowerblue
}

/* Sesta sezione */
.carousel-container{
    height: 400px;
    max-width: 100%;
    margin-top: 100px;
    background-color: green;
}

.right-menu{
    height: 500px;
    max-width: calc(100%/3);
    background-color: aqua;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.right-menu .designit{
    width: 50%;
}

.designit img{
    align-self: center;
    max-width: 100%;
}

.right-menu .arizona{
    width: 50%;
}

.arizona img{
    align-self: center;
    max-width: 100%;
}

.right-menu .uni-florida{
    width: 50%;
}

.uni-florida img{
    align-self: center;
    max-width: 100%;
}

.right-menu .topps{
    width: 50%;
}

.topps img{
    align-self: center;
    max-width: 100%;
}



/* Settima sezione */
.free-trial-container{
    background-color: #b4d0e7;
}

.free-trial{
    height: 200px;
    margin: 0 auto;
    max-width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.free-trial h2{
    font-size: 20px;
}

.free-trial a{
    background-color: white;
    padding: 5px 10px;
    color: black;
}

/* Ottava sezione */
.faq-container{
    height: 400px;
    margin: 0 auto;
    margin-top: 100px;
    max-width: 700px;
}

.faq-container span{
    font-size: 12px;
    font-weight: bold;
}

.faq-container hr{
    margin-top: 30px;
    margin-bottom: 60px;
}

.faq-title{
    margin-bottom: 40px;
}

.faq.box1{
    border-top: 1px solid #b2b2b2;
    padding: 20px;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.faq.box2{
    border-top: 1px solid #b2b2b2;
    padding: 20px;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq.box3{
    border-top: 1px solid #b2b2b2;
    border-bottom: 1px solid #b2b2b2;
    padding: 20px;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq.box1 a{
   color: black;
}


.faq.box2 a{
    color: black;
 }


 .faq.box3 a{
    color: black;
 }



/* Footer */
footer{
    max-width: 100%;
    background-color: black;
    color: white;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 120px 150px;
    /* background-color: red; */
    
}

.f-col{
    margin: 0 15px;
}

ul{
    list-style-type: none;
}

ul a{
    font-size: 12px;
    font-weight: lighter;
    color:white
}

#title-list{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

ul li+li{
    margin: 10px 0 10px 0;
}

/* Footer bottom bar */

.footer.bottom-bar{
    /* background-color: grey; */
    max-width: 120px;
    margin-left: 150px;
}

.bb.elements{
    padding-bottom: 35px;
    padding-top: 25px;
}

.bb.elements i{
    margin-right: 5px;
    font-size: 15px;
    color: grey;
}

.bb.elements a{
    margin-right: 5px;
}