*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background-color: black; */
    font-family: 'Open Sans', sans-serif;
}

header{
    background-color: white;
}

.container-topbar{
    background-color: white;
    border-bottom: 4px solid #d4dde4;
    height: 90px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 600;
}

a{
    font-size: 15px;
    text-decoration: none;
    color: grey;
}

.right.stuff{
    margin-left: 20px;
}


.right.stuff img{
    margin-right: 20px;
}


.right.stuff a+a{
    margin-left: 20px;
}

.left-stuff{
    margin-right: 15px;
}


.left-stuff a+a{
    margin-right: 20px;
}

#supporto{
    margin-right: 20px;
}

#inizia{
    color: white;
    background-color: #0061ff;
    border-radius: 5px;
    padding: 5px 10px;
}



.jumbotron{
    height: 600px;
    width: 100%;
    background-color: #b4d0e7;
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jumbotron-container{
    height: 600px;
    margin: 0px 200px 20px 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jb-img{
    height: 200px;
    width: 865px;
    display: flex;
    flex-direction: row;

}

.jb-text h1{
    font-size: 60px;
    margin-bottom: 40px;
}

.jb-col1{
    height: 300px;
    width: 40%;
    /* background-color: red; */
}

.jb-col1 p{
    font-size: 15px;
    margin-bottom: 20px;
}

.jb-col1 div{
    margin-top: 20px;
    margin-bottom: 20px;
}

#arrow{
    font-size: 50px;
    margin-top: 30px;
    color: black;
}

.jb-col2{
    height: 400px;
    width: 80%;
    /* background-color: bisque; */

}

.jb-col2 img{
    min-height: 320px;
    max-width: 120%;
    /* object-fit: cover; */
    
}


/* Inizio css main */

main{
    height: 1500vh;
    max-width: 100%;
    margin: 150px 250px 50px 250px;
    background-color: white;
}


/* Prima sezione */

.first.section-container{
    height: 800px;
    
    background-color: antiquewhite;
}

.first.section-container h2{
    font-size: 35px;
    margin-bottom: 60px;
}

.first.section-container span{
    margin-bottom: 30px;
}


.subscription-plans{
    height: 620px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background-color: aquamarine;
}




/* Seconda sezione */

.second.section-container{
    height: 200px;
    margin-top: 50px;
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Terza sezione */

.third.section-container{
    height: 400px;
    margin-top: 100px;
    background-color: cornflowerblue;
}

.t-col1{
    width: 60%;
    background-color: lime;
}

.t-col2{
    width: 40%;
    background-color: limegreen;
}


/* Quarta sezione */
.fourth.section-container{
    height: 800px;
    margin-top: 100px;
    background-color: dimgray;
}


.fourth.section-container h2{
    font-size: 27px;
}


.cards-line1{
    height: 350px;
    margin-top: 50px;
    margin-bottom: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:red ;
    border: 1px solid black;
}

.cards-line2{
    height: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: red;
}


/* Quinta sezione */

.fifth.section-container{
    height: 200px;
    margin-top: 100px;
    background-color: violet;
}



/* Footer */
footer{
    height: 200px;
    width: 100%;
    background-color: black;
}